# Служебные зависимости
node_modules

# Папки сборки и хостинга
dist
.netlify
.vercel

# Файлы операционной системы
.DS_Store
Thumbs.db

# Файлы логов
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Файлы с секретами (на всякий случай)
.env
.env.local
